.body{
    font-family: 'Roboto Mono', monospace;
    min-height: 100vh;

}

/***navbar***/
.nav-item{
            letter-spacing : .2em;
            font-size : 16px;
            text-transform : uppercase;
}
.dropdown-item{
              letter-spacing : .2em;
              font-size : 16px;
              text-transform : uppercase;
}
.my_footer{
            position: sticky;
            top:100%;
            background-color : tan;
            height : 30px;
            margin-top: 10px;
}

.my_footer_p{
                padding-top : 7px;
                font-size : 14px;
}

/*** category page ***/

.my_row_class{
              padding-top:15px;
}
.my_row_class.mx_auto{
                        color:black;
                        font-size:11px;
}
.my_image{
            width:100%;
            height:auto;
}
.my_title{
            font-size:16px;
            text-transform:uppercase;
            letter-spacing:.2em;
}
.my_image_padding{
        padding:5px;
}

.my_bottom_margin{
       margin-bottom:10px;

}
.my_img{
width:150px;
height:200px;
}

.card-body h4{
font-size:14px;
text-transform:uppercase;
letter-spacing:.2em;
}

/*** product pagr ***/
.my_prod_row_class{
    padding-top:15px;
    padding-bottom:20px;
}

.my_prod_row_class .mx_auto{
    colour:#000;
    font-size:12px;
    text-decoration:none;

}
.my_prod_title{
    font-size:16px;
    text-transform:uppercase;
    letter-spacing:.2em;
    padding-top:15px;
    padding-bottom:10px;
}
.my_prod_text{
    padding_right:20px
}

/*** search ***/
.my_search_text{
    padding_top:20px;
}

/*** cart ***/
.my_custom_table{
    min-width=400px;
    font-size=14px;
}
.my_custom_thead{
    font_weight:normal;
    text-transform:uppercase;
    letter-spacing:.2em;
    background-color:tan;
}
.custom_a{
text-decoration:none;
}

.custom_icon{
text-decoration:none
color:#868e96 !important;
}

.my_custom_button{
margin_top:5px;

}